# Interro

## 1) KPI

C'est une Variable/métrique permettant d'évaluer la performance. Elle permet d'estimer si on projet se déroule bien.
L'évolution de l'indicateur permet de visualiser la perfomance dans le but de l'optimiser.

## 2) Import

In [2]:
#2)
import numpy as np
import pandas as pd

## 3) Import dataset

In [63]:
#3)
df=pd.read_csv("eval_data.csv")

## 4) 10 premières valeurs

In [44]:
#4)
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 5) Afficher la dimension

In [45]:
#5)
df.shape

(4622, 6)

## 6) Afficher et décrire colonnes

In [46]:
#6)
df.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [47]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

## 7) Afficher statistiques descriptives

In [48]:
#7)
df.count()

Unnamed: 0            4622
order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4522
dtype: int64

In [49]:
df.mean()

Unnamed: 0    2310.500000
order_id       927.254868
quantity         1.075725
dtype: float64

In [50]:
df.median()

Unnamed: 0    2310.5
order_id       926.0
quantity         1.0
dtype: float64

In [27]:
df.min()

Unnamed: 0                    0
order_id                      1
quantity                      1
item_name     6 Pack Soft Drink
dtype: object

In [28]:
df.max()

Unnamed: 0                 4621
order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
dtype: object

## 8) Item le plus commandé

In [12]:
#8)
df.max()

Unnamed: 0                 4621
order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
dtype: object

## 9) Total

In [15]:
#9
df['quantity'].sum

<bound method Series.sum of 0       1
1       1
2       1
3       1
4       2
       ..
4617    1
4618    1
4619    1
4620    1
4621    1
Name: quantity, Length: 4622, dtype: int64>

Au total, 4621 items ont été commandé

## 10) Chiffre d'affaire

In [65]:
#10)
df_miss=df.copy()
for nom_colonne in ['choice_description','item_price']:
    index_colonne=df_miss.columns.get_loc(nom_colonne)
    df_miss.insert(index_colonne+1,
             nom_colonne+'_missing',
             df_miss[nom_colonne].isna().astype('int8'))
df_miss.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,choice_description_missing,item_price,item_price_missing
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,1,NaN,1
1,1,1,1,Izze,[Clementine],0,$3.39,0
2,2,1,1,Nantucket Nectar,[Apple],0,$3.39,0
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,1,NaN,1
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",0,$16.98,0

In [66]:
df_miss['item_price'].fillna(df_miss['item_price'].mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
df['item_price']=df['item_price'].str.slice(1,None)
#On retire la device d'amount, slice permet d'eviter de nommer les cas un par un
df
df['item_price'].sum

<bound method Series.sum of 0        NaN
1        39
2        39
3        NaN
4       .98
        ...
4617    .75
4618    .75
4619    .25
4620     75
4621     75
Name: item_price, Length: 4622, dtype: object>