In [1]:
import pandas as pd 
import datetime as dt
fp = "https://bit.ly/felonies-dataset"
data = pd.read_csv(fp)
datah = pd.read_csv(fp)

In [3]:
data.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [4]:
data.shape

(1000, 3)

In [6]:
data.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

la methode map de pandas

In [45]:
data['DOA'] = pd.to_datetime(data['Date of Arrest'])
data.drop('Date of Arrest',axis=1)

     Age Convicted                 DOA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [42]:
data.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DOA               datetime64[ns]
dtype: object

data.DAO.dt.dayofweek

dow2weekTime = {0:'debut', 1:'}

data.DOA.dt.dayofweek.map(dow2weektime)

Liste -> dictionnaire

In [11]:
id2str = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

In [13]:
str2id = {value:idx for idx, value in enumerate(id2str)}

In [18]:
str2id["monday"]

0

pickle - ecriture fichier

In [26]:
import pickle
chemin_disque = 'dictionnaire.pkl'
with open(chemin_disque, 'wb') as f : 
    pickle.dump(id2str, f)

pickle - lecture

In [ ]:
with open(chemin_disque, 'rb') as f : 
    objet = pickle.load(id2str, f)

In [27]:
str2id = {value:idx for idx, value in enumerate(id2str)}
id2str = {value:idx for idx, value in enumerate(id2str)}

In [32]:
str2id[id2str[3]]

KeyError: 3

In [49]:
data['DOA'].dt.dayofweek.map(str2id)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
995   NaN
996   NaN
997   NaN
998   NaN
999   NaN
Name: DOA, Length: 1000, dtype: float64

In [34]:
str2id

{'monday': 0,
 'Tuesday': 1,
 'Wednesday': 2,
 'Thursday': 3,
 'friday': 4,
 'saturday': 5,
 'sunday': 6}

In [39]:
periodesemaine = {'monday': 'DEBUT',
                  'Tuesday': 'DEBUT',
 'Wednesday': 'MILIEU',
 'Thursday': 'MILIEU',
 'friday': 'FIN',
 'saturday': 'FIN',
 'sunday': 'FIN'}

In [51]:
data['DOA'].dt.dayofweek.map(id2str).map(periodesemaine)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
Name: DOA, Length: 1000, dtype: object

In [52]:
data['periode semaine'] = data['DOA'].dt.dayofweek.map(id2str).map(periodesemaine)

In [53]:
data.dtypes

Date of Arrest             object
Age                         int64
Convicted                  object
DOA                datetime64[ns]
periode semaine            object
dtype: object

passer la colonne en type categorie

In [56]:
ordre = ['DEBUT','MILIEU','WEEKEND']

In [64]:
data['periode semaine'] = (data['periode semaine'].astype('category').cat.reorder_categories(ordre).cat.as_ordered())

ValueError: items in new_categories are not the same as in old categories

convertir la colonne de category en int(ordinal)

In [65]:
data['periode semaine'] = data['periode semaine'].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [ ]:
data['periode semaine']

gerer les cycles

In [77]:
import pandas as pd 
import datetime as dt
fp = "https://bit.ly/felonies-dataset"
data = pd.read_csv(fp)

data.rename(columns={'Date of Arrest':'DoA'}, inplace=True)
data.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [83]:
data['DoA'] = pd.to_datetime(data['DoA'])
data.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [84]:
data['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [85]:
data['DoA'].dt.month.min()

1

In [86]:
data['DoA'].dt.month.max()

12

In [87]:
colonneTemporaire= data['DoA'].dt.month * 100 + data['DoA'].dt.day
colonneTemporaire

0       716
1      1219
2       628
3       514
4       525
       ...
995     204
996     429
997     715
998     705
999     317
Name: DoA, Length: 1000, dtype: int64

In [95]:
avant_janvier = 0 
avant_printemps = 320
avant_ete = 620
avant_automne= 920
avant_Hivers= 1220
finAnne = 1232
bins=[avant_janvier,avant_printemps, avant_ete, avant_automne,avant_Hivers, finAnne]

In [96]:
saisons = pd.cut(colonneTemporaire, 
      bins=bins ,
      labels=['HIVER','PRINTEMPS','ETE','AUTOMNE','HIVER2'])

saisons.head(5)

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (5, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE' < 'HIVER2']

In [111]:
saisons = saisons.str.replace('2','')

In [112]:
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [113]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: object

In [115]:

saisons = (saisons.astype('category').cat.reorder_categories(['AUTOMNE','HIVER','PRINTEMPS','ETE']).cat.as_ordered())

In [117]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (4, object): ['AUTOMNE' < 'HIVER' < 'PRINTEMPS' < 'ETE']

In [5]:
datah.rename(columns = {'Date of Arrest': 'DoA'}, inplace = True)
datah['DoA'] = pd.to_datetime(datah['DoA'])
datah.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [7]:
datah['DoA'].dt.hour

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [8]:
colonnetemporaire=datah['DoA'].dt.hour*100 + datah['DoA'].dt.minute
colonnetemporaire

0      1459
1      2217
2       931
3       952
4      1406
       ...
995    1424
996    1803
997    2159
998    1716
999    1829
Name: DoA, Length: 1000, dtype: int64

In [10]:
minuit = 0
finnuit=324
finmatin=1612
finam=2211
minuit2=2400

bins=[minuit,finnuit,finmatin,finam,minuit2]

In [12]:
horaire = pd.cut(colonnetemporaire, 
      bins=bins ,
      labels=['Nuit','Matin','Am','Nuit2'])

horaire.head(5)

0    Matin
1    Nuit2
2    Matin
3    Matin
4    Matin
Name: DoA, dtype: category
Categories (4, object): [Nuit < Matin < Am < Nuit2]

In [14]:
horaire = horaire.str.replace('2','')

In [15]:
horaire.unique()

array(['Matin', 'Nuit', 'Am'], dtype=object)

In [17]:
horaire = (horaire.astype('category').cat.reorder_categories(['Nuit','Matin','Am']).cat.as_ordered())

In [18]:
horaire.head()

0    Matin
1     Nuit
2    Matin
3    Matin
4    Matin
Name: DoA, dtype: category
Categories (3, object): [Nuit < Matin < Am]

In [26]:
df=pd.read_csv('https://bit.ly/missing-values')

In [27]:
df.head()

  color  rating
0   NaN    1.16
1   Red     NaN
2  Blue    2.54
3   Red    1.51
4   Red     NaN

In [28]:
for nom_colonne in ['color','rating']:
    index_colonne=df.columns.get_loc(nom_colonne)
    df.insert(index_colonne+1,
             nom_colonne+'_nan',
             df[nom_colonne].isna().astype('int8'))

In [29]:
df.head()

  color  color_nan  rating  rating_nan
0   NaN          1    1.16           0
1   Red          0     NaN           1
2  Blue          0    2.54           0
3   Red          0    1.51           0
4   Red          0     NaN           1

In [30]:
df=pd.read_csv('https://bit.ly/missing-values-toy')

In [32]:
pd.get_dummies(df,
              dummy_na=True,
              columns=['color'])

KeyError: "None of [Index(['color'], dtype='object')] are in the [columns]"